.header {
  display: flex;
  background-color: #510083;
  width: 100%;
  height: 2.4em;
  left: 0px;
  top: 0px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.text {
  color: #FFFFFF;
  font-size: 1.5em;
  font-family: 'Inter';
  font-weight: 700;
  font-style: normal;
  padding-left: 1em;
  padding-top: 0.2em;
}

.container {
  display: flex;
  flex-wrap: wrap;
  padding-left: 4em;
}

.card {
  width: 14em;
  height: 14em;
  background: #FFFFFF;
  border: 1px solid #000000;
  box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
  font-family: 'Inter';
  font-style: normal;
  font-size: 0.8em;
  padding-top: 0.9em;
  padding-left: 0.9em;
  margin-right: 4em;
  margin-top: 3em;
}

.image {
  width: 12em;
  height: 8em
}

.price {
  margin: 0;
  padding: 0;
  font-size: 1.5em;
  font-weight: 700;
  margin-block: 0;
}

.info {
  margin: 0;
  padding: 0;
  margin-block: 0;
}

@media (max-width: 600px) {
  .grid {
    width: 100%;
    flex-direction: column;
  }
}

@media (prefers-color-scheme: dark) {
  .card,
  .footer {
    border-color: #222;
  }
  .code {
    background: #111;
  }
  .logo img {
    filter: invert(1);
  }
}
